## seek and destroy file_info blocks: turn them
## into gen_info().
[fileinfo]
root: file_info
target: gen_info()
when: prediff

## example of another generalization - for basic
## arithmetic operators, generalize var_ref_exp
## and binary_op_annotation nodes
[arithmetic]
root: multiply_op, add_op, subtract_op, divide_op
target: var_ref_exp, binary_op_annotation
when: postdiff
