#
# format:
#
# [section_name] :: this can be anything meaningful as long
#                   as it is unique within the file.
# phase = {pre|post|generalize|context} :: which phase this
#                                          section corresponds to
#
# depending on the phase, the remaining key/value pairs vary.
#
# pre:
#   match = label, ..., label :: root to match
#   substitute = label        :: label to substitute
#
# generalize:
#   match = label, ..., label  :: root to match
#   target = label, ..., label :: labels to generalize within 
#                                 matching subtrees 
#
# context:  TODO
# post:     TODO
#

[fileinfo]
phase: pre
match: file_info
substitute: gen_info()

[arithmetic]
phase: generalize
match: multiply_op, add_op, subtract_op, divide_op
target: var_ref_exp, binary_op_annotation


